<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        .note-container {
            font-size: 1.4em;
            text-align: center;
            margin-top: 10px;
            width: 100%;
            align-items: center;
        }
        .left {
            text-align: left;
        }

    </style>
</head>
<body>
    <table class='note-container'>
        <tr>
            <td colspan="2">
                <b>Note: Please report to us within 24 hours if this statement is incorrect.</b>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                APM Capital Limited is incorporated in the Abu Dhabi Global Market (ADGM).
            </td>
        </tr>
    </table>
</body>
</html>