<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        .header-table {
            width: 100%;
            border-collapse: collapse;
            font-size: 2em;
        }

            .header-table td {
                vertical-align: top;
                padding: 5px;
            }

    </style>
</head>
<body>
    <table class="header-table">
        <tr>
            <td>
                <h4>APM Capital Limited</h4>
                <p id="title">1009,10, Al Khatem Tower, ADGM Square, Al Maryah Island, Abu Dhabi, UAE</p>
                <p id="title">Email: info@apmcapital.ae</p>
            </td>
            <td>
                <h4>CLIENT DAILY STATEMENT</h4>
                <p id="title">STATEMENT Date: 2025-03-07</p>
            </td>
            <td>
                <h3>Div 3</h3>
            </td>
        </tr>
    </table>
</body>
</html>